@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}
<div class="jumbotron">
    <h1>РТиППО</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в реализацию 6-й лабораторной работы!</h2>
        <p>
            Здесь могла быть ваша реклама
        </p>
    </div>
    <div class="col-md-4">
        <h2>Здесь могла быть ваша реклама</h2>
        <p>Здесь могла быть ваша реклама</p>
        @*<p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/DenisShulyak/WebApplicationLab6">See project source code &raquo;</a></p>
    </div>
</div>